{% extends "base.html" %}
{% load static %}

{% block title %}
招生就业
{% endblock %}

{% block content %}
<!-- 广告横幅 -->
<div class="container-fluid">
    <div class="row">
        <img class="img-responsive model-img" src="{% static 'img/science.jpg' %}" alt="招生就业">
    </div>
</div>
<div class="container">
    <!-- 主体标题 -->
    <div class="model-details-title">
        学生职业发展
    </div>
    <!-- 主体内容 -->
    <div class="model-details">
        <p>
            清华大学的前身清华学堂始建于1911年，1912年更名为清华学校。1928年更名为国立清华大学。1937年抗日战争全面爆发后南迁长沙，
            与北京大学、南开大学组建国立长沙临时大学，1938年迁至昆明改名为国立西南联合大学。1946年迁回清华园，设有文、法、理、工、农
            等5个学院、26个系。1952年全国高等学校院系调整后，清华大学成为一所多科性工业大学，重点为国家培养工程技术人才，被誉为“红色工
            程师的摇篮”。改革开放以来，清华大学逐步确立了建设世界一流大学的长远目标，进入了蓬勃发展的新时期。学校先后恢复或新建了理科、
            文科、医学学科和经济管理学科，并成立了研究生院和继续教育学院。1999年，中央工艺美术学院并入，成立清华大学美术学院。2012年，
            中国人民银行研究生部并入，成为清华大学五道口金融学院。在国家和社会的大力支持下，通过实施“211工程”“985工程”，开展“双一流”
            建设，清华大学在人才培养、科学研究、社会服务、文化传承创新、国际合作交流等方面都取得了长足进展。目前，清华大学共设22个学院、
            59个系，已成为一所设有理学、工学、文学、艺术学、历史学、哲学、经济学、管理学、法学、教育学、医学和交叉学科等12个学科门类的综
            合性、研究型、开放式大学。
        </p>
        <img class="img-responsive" style="max-width:700px;" src="{% static 'img/kyjd.jpg' %}">
        <h3>招生介绍</h3>
        <h5>按照招生专业分类：</h5>
        <p>
            建筑类、 土木类、 智能制造与装备类、 能源与电气类、 电子信息类、 计算机类、 自动化类、 数理类、 化生类、 经济、金融与管理类、 法学类、 艺术类、 临床医学类。
        </p>
        <h5>按照院系分类：</h5>
        <p>
            建筑学院、 土木水利学院、 机械工程学院、 电机工程与应用电子技术系、 信息科学技术学院、 交叉信息研究院、
            航天航空学院、 工程物理系、 化学工程系、 理学院、 生命科学学院、 医学院、 药学院、 协和医学院、 经济管理学院、
            人文学院、 社会科学学院、 法学院、 美术学院、 新雅书院、 为先书院、 秀钟书院。
        </p>
        <h5>招生计划：</h5>
        <p>
            强基计划、 自强计划、 数学人才培养计划、 物理人才培养计划、 艺术类(美术学院)、 高水平艺术团、 高水平运动队、 定向生、 飞行学员、 港澳台学生。
        </p>
    </div>
</div>
{% endblock %}