{% extends "base.html" %}
{% load static %}

{% block title %}
学校概况
{% endblock %}

{% block content %}
<!-- 广告横幅 -->
<div class="container-fluid">
    <div class="row">
        <img class="img-responsive model-img" src="{% static 'img/about.jpg' %}">
    </div>
</div>
<!-- 主体内容 -->
<div class="container">
    <div class="row row-3">
        <!-- 侧边导航栏 -->
        <div class="col-md-3">
            <div class="model-title">
                学校概况
            </div>
            <div class="model-list">
                <ul class="list-group">
                    <li class="list-group-item" id="survey">
                        <a href="{% url 'aboutApp:survey' %}">校庆献辞</a>   <!--逆向寻找路由-->
                    </li>
                    <li class="list-group-item" id="honor">
                        <a href="{% url 'aboutApp:honor' %}">历任领导</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 说明文字和图片 -->
        <div class="col-md-9">
            <div class="model-details-title">
                校庆献辞
            </div>
            <div class="model-details" style="color:#fff;">
                <div class="row">
                    <img class="img-responsive" src="{% static 'img/aboutcontent.jpg' %}">
                </div>
                <p style="text-align: center; font-weight: bold; font-size:24px; margin:10px;">开新局,展新貌,奋力谱写高质量发展的清华篇章</p>
                <p>
                    在这天朗气清、惠风和畅的四月，清华大学即将迎来113岁生日。我们谨代表学校向海内外广大校友和全体师生员工致以亲切的问候和良好的祝愿，向多年来关心支持我校发展的各界人士和朋友表示衷心的感谢！</p>

<p>2023年是全面贯彻党的二十大精神的开局之年。我们以实的作风、严的标准，深入开展学习贯彻习近平新时代中国特色社会主义思想主题教育，制定实施《清华大学全面贯彻落实党的二十大精神行动方案》，牢牢把握高质量发展主题主线，坚定迈向世界一流大学前列，学校事业发展开出了新局、开出了好局。</p>

<p>过去一年，我们在人才自主培养的道路上越走越有自信。《践行“三位一体”教育理念，培养肩负使命、追求卓越的创新人才》荣获国家级教学成果奖特等奖。成立国家卓越工程师学院，努力造就大批德才兼备的高层次工程人才。成立秀钟书院，培养全球绿色发展的引领者。启动旨在培养物理拔尖人才的“攀登计划”，探索一流创新人才培养新模式。坚持又红又专、五育并举，全面落实《体育教育实施方案》《美育实施方案》《劳动教育实施方案》。扎实推进思政课改革创新，超过100万名大学生在云端同上清华“形势与政策”课。人工智能赋能教育教学首批试点课程正式亮相。天格计划学生兴趣团队发布首批伽马射线暴观测科学数据。《马兰花开》剧组首赴港澳演出。清华体育健儿在成都大运会上勇创佳绩。“海·清”志愿服务队在社区服务中展现青春风采。清韵书香，邺架巍巍，阔别已久的图书馆“老馆”历经四年修缮终于回归。学校最大的室内运动场馆北体育馆全面启用，“无论四季，享受冰雪”的愿望在这里实现。2023届毕业生赴重要领域重点单位就业比例高达83%，一大批清华学子到党和人民需要的地方发光发热。</p>

<p>过去一年，我们在服务国家重大战略的道路上越走越有底气。牵头研发的全球首座模块式高温气冷堆核电站正式投入商业运行、全球首颗新款忆阻器存算一体芯片成功研制两项成果入选2023年国内十大科技新闻。作为依托单位建设的国家重大科技基础设施“极深地下极低辐射本底前沿物理实验设施”投入科学运行。牵头研制的全球首条1.2T超高速下一代互联网主干路开通。自主研发千亿参数对话大模型ChatGLM。研究发现γδT细胞免疫识别机制。首次对星系循环内流直接成像。领衔设计中国国家版本馆中央总馆。出版《<清华大学藏战国竹简>研究与英译》系列丛书首卷、《马克思主义经典文献世界传播通考》丛书前30卷。深入实施人才强校核心战略，国际力学、材料及工程科学领域顶级专家高华健院士全职加盟清华，6名教师当选中国科学院、中国工程院院士，2名教师入选学校第三批文科资深教授。大力吸引、汇聚更多顶尖人才，为加快建设世界重要人才中心和创新高地贡献力量。</p>
<p>过去一年，我们在开放合作的道路上越走越有神采。2023年，清华学生出国出境参加学术和文化交流8000余人次，超过疫情前最高水平。成功举办首届古文字与中华文明国际学术论坛、第十一届世界和平论坛。继续扩展与世界一流大学的高水平科研合作网络，持续深化与国际顶尖企业的联合科技攻关。启动气候变化与碳中和国际合作联合行动，牵头筹划的“碳中和与能源智联”国际大科学计划获批立项。积极拓展与“一带一路”沿线国家的合作领域，进一步加强与美国、俄罗斯、日本、英国、欧盟等重点国家和地区的交流合作，充分发挥大学在人文交流、民心相通中的独特作用。</p>

<p>过去一年，我们在以高质量党建引领高质量发展的道路上越走越有力量。认真开展学习贯彻习近平新时代中国特色社会主义思想主题教育，制定实施包括6方面任务、23项专项行动、50个专栏任务的《清华大学全面贯彻落实党的二十大精神行动方案》，建立巩固拓展主题教育成果的常态化机制。加强校领导班子建设，汇聚起团结一致向前进、一张蓝图绘到底的强大合力。开展全覆盖的全校党员集中培训，近3万名党员共上“一堂最燃党课”。把巡视整改作为推动高质量发展的重要抓手，纵深推进正风肃纪反腐，维护校园风清气正。传承弘扬清华优良传统，举行纪念蒋南翔同志诞辰110周年座谈会，缅怀清华人心中永远尊敬的“老校长”。举办纪念何东昌同志诞辰100周年、纪念“双肩挑”政治辅导员制度建立70周年等活动。围绕“报国清华人”“大国重器中的清华人”等主题发布一系列融媒体作品，总传播超过15亿次，向全社会展示爱国奉献、追求卓越的清华精神。</p>

<p>“满眼生机转化钧，天工人巧日争新。”走过113年风雨历程的清华欣欣向荣、辉光日新。2024年是新中国成立75周年，也是落实教育强国建设战略部署、全力推进学校高质量发展的关键之年。我们要更加紧密地团结在以习近平同志为核心的党中央周围，牢记殷殷嘱托、持续深化改革，着力推动发展新质生产力，在以中国式现代化全面推进强国建设、民族复兴伟业的新征程上，展现新面貌、作出新贡献，奋力谱写高质量发展的清华篇章。</b></p>

<p>校庆是清华人共同的节日，母校永远是校友们温暖的家。在这春意熙熙、其乐融融的美好时刻，欢迎广大校友回家！</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}